//#region authentication

.auth-bg {
    background-color: #f8f9fa !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    &.expire {
        background-color: #1764e7 !important;
    }
}

@media (min-width: 768px) {
    .auth-bg {
        height: 100vh;
        margin-bottom: -25px;
    }

    .grid-columns-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }
}

//#endregion

body,
div#root {
    background-color: #f0f2f8;
}

legend {
    float: none;
}

.p-dataview.p-dataview-list .p-dataview-content > .p-grid > div {
    border: none !important;
    border-width: 0 !important;
}

.p-grid {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
}

hr {
    color: azure;
}
