//#region authentication

.auth-bg {
    background-color: #f8f9fa !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    &.expire {
        background-color: #1764e7 !important;
    }
}

@media (min-width: 768px) {
    .auth-bg {
        height: 100vh;
        margin-bottom: -25px;
    }

    .grid-columns-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }
}

//#endregion

body,
div#root {
    background-color: #f0f2f8;
}

legend {
    float: none;
}

hr {
    color: azure;
}

.__dbk__container{
    background-color: white;
    border-radius: .3rem;
}

.__dbk__gutter.Horizontal.Dark{
    height: unset;
    background-color: #efefef;
    width: 4px;
    .__dbk__dragger.Horizontal.Dark{
        background-color: #dee2e6;
    }
}