@import 'custom';
@import 'variables';
@import 'input';
@import 'material';

#container {
    visibility: hidden;
}

#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}

p {
    margin-bottom: 0;
}