//#region authentication

.auth-bg {
    background-color: #f8f9fa !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    &.expire{
        background-color: #1764E7!important;
    }
}

@media(min-width: 768px){
    .auth-bg{
        height: 100vh;
        margin-bottom: -25px;
    }

    .grid-columns-2{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 4rem;
    }
}

.main-logo{
    transform: rotate(10deg);
    margin-top: 6rem;
}

@media(min-width: 768px){
    .main-logo{
        margin-top: 0;
    }
}

//#endregion